Loja.Web/Connected Services/PedidoReferencia/Pedido1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GerenciamentoCompras.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GerenciamentoCompras.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60745/Pedido.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Loja.Domain" />
  <xs:complexType name="ProdutoViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      <xs:element minOccurs="0" name="idProduto" type="xs:int" />
      <xs:element minOccurs="0" name="imagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="preco" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoViewModel" nillable="true" type="tns:ProdutoViewModel" />
  <xs:complexType name="PedidoViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="PedidoEmpacotado" type="xs:boolean" />
      <xs:element minOccurs="0" name="PedidoEnviado" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Loja.Domain" minOccurs="0" name="Produtos" nillable="true" type="q1:ArrayOfProduto" />
      <xs:element minOccurs="0" name="idPedido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoViewModel" nillable="true" type="tns:PedidoViewModel" />
  <xs:complexType name="ArrayOfProdutoViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdutoViewModel" nillable="true" type="tns:ProdutoViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdutoViewModel" nillable="true" type="tns:ArrayOfProdutoViewModel" />
</xs:schema>