Loja.Web/Connected Services/PedidoReferencia/Pedido2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:60745/v1" elementFormDefault="qualified" targetNamespace="http://localhost:60745/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60745/Pedido.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GerenciamentoCompras.Model" />
  <xs:element name="RealizarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GerenciamentoCompras.Model" minOccurs="0" name="produto" nillable="true" type="q1:ProdutoViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RealizarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RealizarPedidoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProximoPedido">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProximoPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GerenciamentoCompras.Model" minOccurs="0" name="ProximoPedidoResult" nillable="true" type="q2:PedidoViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>