Loja.Web/Connected Services/PedidoReferencia/Pedido.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost:60745/v2" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:60745/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:60745/v2/Imports">
      <xsd:import schemaLocation="http://localhost:60745/Pedido.svc?xsd=xsd4" namespace="http://localhost:60745/v2" />
      <xsd:import schemaLocation="http://localhost:60745/Pedido.svc?xsd=xsd0" namespace="http://localhost:60745/v1" />
      <xsd:import schemaLocation="http://localhost:60745/Pedido.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60745/Pedido.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GerenciamentoCompras.Model" />
      <xsd:import schemaLocation="http://localhost:60745/Pedido.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Loja.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PedidoMultiplo_RealizarPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:RealizarPedido" />
  </wsdl:message>
  <wsdl:message name="PedidoMultiplo_RealizarPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:RealizarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="PedidoMultiplo_ProximoPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:ProximoPedido" />
  </wsdl:message>
  <wsdl:message name="PedidoMultiplo_ProximoPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProximoPedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="PedidoMultiplo">
    <wsdl:operation name="RealizarPedido">
      <wsdl:input wsaw:Action="http://localhost:60745/v2/PedidoMultiplo/RealizarPedido" message="tns:PedidoMultiplo_RealizarPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:60745/v2/PedidoMultiplo/RealizarPedidoResponse" message="tns:PedidoMultiplo_RealizarPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProximoPedido">
      <wsdl:input wsaw:Action="http://localhost:60745/v2/PedidoMultiplo/ProximoPedido" message="tns:PedidoMultiplo_ProximoPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:60745/v2/PedidoMultiplo/ProximoPedidoResponse" message="tns:PedidoMultiplo_ProximoPedido_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>