ConsumirWCF5/Connected Services/ServiceReference1/Pedido1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:60745/v1" elementFormDefault="qualified" targetNamespace="http://localhost:60745/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RealizarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProduto" type="xs:int" />
        <xs:element minOccurs="0" name="quantidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RealizarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RealizarPedidoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>