ConsumirWCF5/Connected Services/ServiceReference1/Pedido.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:60745/v2" elementFormDefault="qualified" targetNamespace="http://localhost:60745/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60745/Pedido.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GerenciamentoCompras.Model" />
  <xs:element name="RealizarPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GerenciamentoCompras.Model" minOccurs="0" name="Produtos" nillable="true" type="q1:ArrayOfProdutoViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RealizarPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RealizarPedidoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>