Loja.Web/Connected Services/ProdutoReferencia/Produto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost:49577/v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:49577/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:49577/v1/Imports">
      <xsd:import schemaLocation="http://localhost:49577/Produto.svc?xsd=xsd0" namespace="http://localhost:49577/v1" />
      <xsd:import schemaLocation="http://localhost:49577/Produto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49577/Produto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GerenciamentoProduto.Model" />
      <xsd:import schemaLocation="http://localhost:49577/Produto.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Loja.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Produtos_AdicionarNaFila_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarNaFila" />
  </wsdl:message>
  <wsdl:message name="Produtos_AdicionarNaFila_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarNaFilaResponse" />
  </wsdl:message>
  <wsdl:message name="Produtos_ConsumirFila_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsumirFila" />
  </wsdl:message>
  <wsdl:message name="Produtos_ConsumirFila_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsumirFilaResponse" />
  </wsdl:message>
  <wsdl:message name="Produtos_ListarTodosProdutos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosProdutos" />
  </wsdl:message>
  <wsdl:message name="Produtos_ListarTodosProdutos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosProdutosResponse" />
  </wsdl:message>
  <wsdl:portType name="Produtos">
    <wsdl:operation name="AdicionarNaFila">
      <wsdl:input wsaw:Action="http://localhost:49577/v1/Produtos/AdicionarNaFila" message="tns:Produtos_AdicionarNaFila_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:49577/v1/Produtos/AdicionarNaFilaResponse" message="tns:Produtos_AdicionarNaFila_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsumirFila">
      <wsdl:input wsaw:Action="http://localhost:49577/v1/Produtos/ConsumirFila" message="tns:Produtos_ConsumirFila_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:49577/v1/Produtos/ConsumirFilaResponse" message="tns:Produtos_ConsumirFila_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTodosProdutos">
      <wsdl:input wsaw:Action="http://localhost:49577/v1/Produtos/ListarTodosProdutos" message="tns:Produtos_ListarTodosProdutos_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:49577/v1/Produtos/ListarTodosProdutosResponse" message="tns:Produtos_ListarTodosProdutos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>