Loja.Web/Connected Services/ProdutoReferencia/Produto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:49577/v1" elementFormDefault="qualified" targetNamespace="http://localhost:49577/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49577/Produto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GerenciamentoProduto.Model" />
  <xs:import schemaLocation="http://localhost:49577/Produto.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Loja.Domain" />
  <xs:element name="AdicionarNaFila">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GerenciamentoProduto.Model" minOccurs="0" name="produto" nillable="true" type="q1:ProdutoViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarNaFilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdicionarNaFilaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsumirFila">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsumirFilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsumirFilaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosProdutos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosProdutosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Loja.Domain" minOccurs="0" name="ListarTodosProdutosResult" nillable="true" type="q2:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>